@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;400&display=swap');
body{
    color: rgb(68, 68, 68);
}
@media screen and (min-width: 1024px){
    main{
        width: 100%;
        height: 100vh;
        background-color: #f8f9fa;
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
    }
    main > section{
        background: #f8f9fa;
        padding: 25px 0;
        width: 73%;
        height: auto;
        margin: 0 auto;
    }
    .universal-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: auto;
    }
    .universal-text h2 {
        font-size: 32px;
        margin: 0 0 30px 0;
        position: relative;
        text-transform: uppercase;
    }
    .universal-text h2::after{
        content: "";
        position: absolute;
        display: block;
        width: 50px;
        height: 3px;
        background: rgb(52, 183, 167);
        top: 60px;
        left: calc(50% - 25px);
    }
    .universal-text p{
        font-size: 18px;
        font-weight: 200;
    }
}
@media screen and (min-width: 991px) and (max-width: 1024px) {}
@media screen and (max-width: 990px) {}