@media screen and (min-width: 1024px) {
  .items-container {
    margin: 0 auto;
    padding: 0;
    width: 100%;
  }
  .block-filter {
    max-width: 40%;
    margin: 0 auto;
  }
  .list-filter {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
  }
  .list-filter li {
    text-transform: uppercase;
    font-weight: 200;
    font-size: 14px;
    padding: 5px 16px 7px 16px;
    cursor: pointer;
    transition: all 0.3s;
  }
  .list-filter li:hover {
    background: #34b7a7;
    border-radius: 50px;
    color: #fff;
  }
  .active-btn {
    background: #34b7a7;
    border-radius: 50px;
    color: #fff;
  }
  .block-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    gap: 10px;
    width: min(80%, 100%);
  }
  .wrap-img {
    flex-basis: calc(33.33% - 10px);
    padding: 5px;
    display: block;
    align-self: start;
    position: relative;
    overflow: clip;
    transition: 0.3s all;
  }
  .wrap-img:nth-child(1) {
    order: 0;
  }
  .wrap-img:nth-child(2) {
    order: 1;
  }
  .wrap-img:nth-child(3) {
    order: 2;
  }
  .wrap-img:nth-child(4) {
    order: 5;
  }
  .wrap-img:nth-child(5) {
    order: 4;
  }
  .wrap-img:nth-child(6) {
    order: 3;
  }
  .wrap-img:nth-child(7) {
    order: 6;
  }
  .wrap-img:nth-child(8) {
    order: 7;
  }
  .wrap-img:nth-child(9) {
    order: 8;
  }

  .img-item {
    width: 100%;
    height: auto;
    transform: scale(1);
    transition: transform 0.5s ease;
  }
}

@media screen and (min-width: 991px) and (max-width: 1024px) {
  .items-container {
    margin: 0 auto;
    padding: 0;
    width: 100%;
  }
  .block-filter {
    max-width: 40%;
    margin: 0 auto;
  }
  .list-filter {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
  }
  .list-filter li {
    text-transform: uppercase;
    font-weight: 200;
    font-size: 14px;
    padding: 5px 16px 7px 16px;
    cursor: pointer;
    transition: all 0.3s;
  }
  .list-filter li:hover {
    background: #34b7a7;
    border-radius: 50px;
    color: #fff;
  }
  .active-btn {
    background: #34b7a7;
    border-radius: 50px;
    color: #fff;
  }
  .block-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    gap: 6px;
    width: min(80%, 100%);
  }
  .wrap-img {
    flex-basis: calc(33.33% - 10px);
    padding: 5px;
    box-sizing: border-box;
    display: block;
    position: relative;
    align-self: start;
    overflow: hidden;
  }
  .wrap-img:nth-child(1) {
    order: 0;
  }
  .wrap-img:nth-child(2) {
    order: 1;
  }
  .wrap-img:nth-child(3) {
    order: 2;
  }
  .wrap-img:nth-child(4) {
    order: 5;
  }
  .wrap-img:nth-child(5) {
    order: 4;
  }
  .wrap-img:nth-child(6) {
    order: 3;
  }
  .wrap-img:nth-child(7) {
    order: 6;
  }
  .wrap-img:nth-child(8) {
    order: 7;
  }
  .wrap-img:nth-child(9) {
    order: 8;
  }

  .img-item {
    width: 100%;
    height: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 990px) {
  .items-container {
    margin: 0 auto;
    padding: 0;
    width: 100%;
  }
  .block-filter {
    width: 80%;
    margin: 0 auto;
    position: relative;
    z-index: 999;
  }
  .list-filter {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
  }
  .list-filter li {
    text-transform: uppercase;
    font-weight: 200;
    font-size: 14px;
    padding: 5px 16px 7px 16px;
    cursor: pointer;
    transition: all 0.3s;
  }
  .list-filter li:hover {
    background: #34b7a7;
    border-radius: 50px;
    color: #fff;
  }
  .active-btn {
    background: #34b7a7;
    border-radius: 50px;
    color: #fff;
  }
  .block-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0;
    gap: 5px;
    width: 100%;
  }
  .wrap-img {
    flex-basis: calc(33.33% - 10px);
    padding: 5px;
    box-sizing: border-box;
    display: block;
    position: relative;
    align-self: start;
    overflow: hidden;
  }
  .wrap-img:nth-child(1) {
    order: 0;
  }
  .wrap-img:nth-child(2) {
    order: 1;
  }
  .wrap-img:nth-child(3) {
    order: 3;
  }
  .wrap-img:nth-child(4) {
    order: 2;
  }
  .wrap-img:nth-child(5) {
    order: 5;
  }
  .wrap-img:nth-child(6) {
    order: 4;
  }
  .wrap-img:nth-child(7) {
    order: 7;
  }
  .wrap-img:nth-child(8) {
    order: 6;
  }
  .wrap-img:nth-child(9) {
    order: 8;
  }
  .img-item {
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 768px) {
  .items-container {
    margin: 0 auto;
    padding: 0;
    width: 100%;
  }
  .block-filter {
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 999;
  }
  .list-filter {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
  }
  .list-filter li {
    text-transform: uppercase;
    font-weight: 200;
    font-size: 16px;
    padding: 5px 16px 7px 16px;
    cursor: pointer;
    transition: all 0.3s;
  }
  .list-filter li:hover {
    background: #34b7a7;
    border-radius: 50px;
    color: #fff;
  }
  .active-btn {
    background: #34b7a7;
    border-radius: 50px;
    color: #fff;
  }
  .block-items {
    display: flex;
    flex-wrap: wrap;
    margin: 10px auto;
    width: 85%;
    position: relative;
    overflow: hidden;
  }
  .wrap-img {
    padding: 5px;
    box-sizing: border-box;
    display: block;
    position: relative;
  }

  .img-item {
    width: 100%;
    height: auto;
    transition: 0.3s transform ease-in-out;
  }
}
